h1.feedback-title {
    color: #867465;
    border-bottom: 1px solid #d5c3aa;
    margin: 0 0 15px 0;
    padding-bottom: 8}

    .feedback-text{
        p{
            font-size: 1.8rem;
        }
    }

    .video {
        iframe{
            padding-right: 5px;
        }
    }