



.inner{
  a:hover{
    color: #867465;
  }
    span{
        font-size: 14px;
        color : #867465;
    }
    
}

.rte{ img{
    width: 250px;
    height: 350px;
    float : left;
    margin: 10px;
}
p{
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.8em;
    font-size: 20px;
   
    color :  #867465;

}
}

h1.page-title{
    font-size: 34px;
    line-height: 1.5em;
    clear: both;
    color : #867465;
    font-weight: normal;
    font-family: Roboto;
}